p.card-text{
  text-align: justify;}

.card{
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: rgba(182, 181, 181, 0.74); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1;
  border-color: black;

  }
  .card-text{
    color   : white   
}
.card-title{
    color: red
}
.badge{
    color: black}