.main-section {
  border: 1px solid #007bff;
  background: rgba(0, 0,0,0.589);
  margin: 100px auto;
}

.user-detail {
  margin: -50px 0 30px 0;
}

img {
  height: 200px;
  width: 200px;
  margin: 50px;
}
.user-details h5 {
  margin: 15px 0 5px 0;
  color: white;
}

span{
  color: white
}
p{
  color: white
}